*{
    margin: 0;
    padding: 0;
}
 /* For Text color Change  */
p{
    color: rgb(98, 0, 255);
}

/* For Text Alignment */
p{
    text-align: right;
    text-align: left;
    text-align: center;
    text-align: justify;
}

/* For Text Spacing  */
p{
    letter-spacing: 0px;
    word-spacing: 2px;
    line-height: 20px;
}