*{
    margin: 0;
    padding: 0;
}

/* For Margin */
.Box{
width: 600px;
height: 300px;
background-color: blueviolet;
/*margin-top: 10px;
margin-right: 15px;
margin-bottom: 20px;
margin-left: 25px;
margin: 10px 15px 20px 25px;*/
/* margin: auto; */
 margin: 40px;/*2 box between create a space its called margin ( it,s create a space out of box) Margin also Accept negetive value */   
}

/* For padding */
.Box{
width: 600px;
height: 300px;
background-color: blueviolet;
padding: 20px;/*Space create Under the box ( padding can,t accept nagetive value) */

}

/* For Margin & Padding  */
.Box{
width: 600px;
height: 300px;
background-color: blueviolet;
margin: 20px;
padding: 20px;
border: 2px solid black;
}