*{
    margin: 10;
    padding: 0;
}

/* text-transform use for text case  */
h2{
    text-transform:lowercase;
    /* text-decoration: underline; */
    text-decoration: overline;
    /* text-decoration: line-through; */
    color: blueviolet;
}

